/* Set a background color or background image for the body */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;800&display=swap');

:root {
    /* Colors */
    --white: #ffffff;
    --blue-strong: #021963;
    --color-text: #0000002c;
    --color-p: #000000;
    --contact: rgb(0, 98, 255);
    
  }


  
  body{
    font-family: 'Alegreya', serif;
  }

.container {
    display: flex;
    justify-content: center;
    /* Horizontally center the content */
    align-items: center;
    /* Vertically center the content */
    height: 100vh;
    /* Optional: Make the container full viewport height */
    width: 100%;
    flex-direction: column;
}

.title{
    font-weight: 800;
}