@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');


:root {
    /* Colors */
    --white: #ffffff;
    --blue-strong: #021963;
    --color-text: #0000002c;
    --color-p: #000000;
    --contact: rgb(0, 98, 255);

    a {
        text-decoration: none;
    }

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    scrollbar-gutter: stable;
    background-color: var(--white)
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}


body {
    font-family: 'Alegreya', serif;

}

h2 {
    font-size: 60px;
}

p {
    font-size: 20px;
}

body-main {


    /* Change to your desired background color */
    /* Use background-image:url('your-image-url.jpg'); for a background image */
    background-size: cover;
    background-position: center;
    /* Ensure the body covers the entire viewport height */
    display: flex;
    justify-content: center;
    height: 100vh;
}

.section {
    display: flex;
    justify-content: space-between;
    /* This will space the blocks evenly along the horizontal axis */
    align-items: center;
    /* Optional: Make the container full viewport height */
    width: 100%;
    margin: 10px;
    flex-direction: row;

}


.navigation-content {
    background-color: var(--white);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    padding: 0 80px;

    @media screen and (max-width: 768px) {
        padding: 0 20px;

    }


}

#head {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* Add margin to create space between the header and the top edge */

}


h1 a {
    text-decoration: none;
    color: #000000;
    font-size: 40px;

}

h1 a:visited {
    color: #000000;
}

#logo img {
    max-width: 50px;
    /* Adjust the size of the logo */
    /* Add some spacing between the logo and h1 */
}

.title {
    padding-top: 13px;
}

#navigation {
    text-align: right;
    margin: 10px;

    /* Add margin to create space between the navigation and the top edge */
    @media screen and (max-width: 768px) {
        display: none;

    }
}

#navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

#navigation ul li {
    display: inline;
    margin-right: 10px;
}




#navigation ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-family: 'Almarai', sans-serif;


}

#navigation ul li a:hover {
    border-bottom: 1px solid black;

}

#navigation ul li a:visited {

    color: #000000;

}



/**** section abuout us *****/


.section-about-us-leuda {
    padding: 0 80px;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 0 20px;
        margin: 80px auto;
    }

}

.section-about-us-left-leuda {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 768px) {
        width: 100%;
        align-items: center;
        text-align: center;

    }
}

.section-about-us-left-leuda p {
    max-width: 60%;
    margin-top: 40px;

    @media screen and (max-width: 768px) {
        max-width: 100%;


    }
}


/**** section abuout us *****/


.section-about-us-right-leuda {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 30px;

    }
}

.teclado {
    width: 300px;
    height: 264px;
}


.section-about-us-left,
.section-about-us-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;

}

.section-about-us-left {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.section-about-us-right {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*****offer*****/


.section-offer {
    width: 100%;
    background-color: #021963;
    height: 400px;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.section-offer-left,
.section-offer-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

.section-offer-left {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.section-offer-right {
    background-color: white;
}


/*****differences*****/


.section-differences {
    width: 100%;
    background-color: #021963;
    height: 400px;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.section-differences-left,
.section-differences-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

.section-differences-left {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.section-differences-right {
    background-color: white;
}

/*****footer*****/

.section-footer {
    width: 100%;
    background-color: #021963;
    height: 100px;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.section-footer-left,
.section-footer-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

.section-footer-left {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.section-footer-right {
    background-color: white;
}