/* Set a background color or background image for the body */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;800&display=swap');

:root {
  /* Colors */
  --white: #ffffff;
  --blue-strong: #021963;
  --color-text: #0000002c;
  --color-p: #000000;
  --contact: rgb(0, 98, 255);

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scrollbar-gutter: stable;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: 'Alegreya', serif;
  display: inline-block;
  height: 100vh;
  /* Optional: Make the container full viewport height */
  width: 100%;
}

img {
  max-width: 100px;
}

.container {
  display: flex;
  justify-content: center;
  /* Horizontally center the content */
  align-items: center;
  /* Vertically center the content */
  flex-direction: column;
  overflow-y: hidden;
  height: 100%;

}

.containerlanguages {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;

}

.titles {
  margin-bottom: 40px;
}

.title {
  font-weight: 800;
}

h1 {
  font-size: 60px;
  padding-top: 0;
  padding-bottom: 0;
}

h2 {
  font-size: 50px;
  font-weight: 200;
  text-align: center;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

a:visited {
  color: #000000;
}